<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yoonsung.eth - about</title>
    <link rel="manifest" href="/manifest.json">
    <script>
        if (
          localStorage.getItem('color-theme') === 'dark' ||
          (!('color-theme' in localStorage) &&
            window.matchMedia('(prefers-color-scheme: dark)').matches)
        ) {
          document.documentElement.classList.add('dark');
        } else {
          document.documentElement.classList.remove('dark');
        }
    </script>
    <link rel="stylesheet" href="/build.css">
</head>
<body>
    <!-- NavBar -->

    <div class="px-6 sm:max-w-4xl sm:container sm:mx-auto sm:px-4 2xl:max-w-7xl">
        <div id="about">
            <h1>about</h1>
            <div class="columns-1 sm:columns-2 2xl:columns-3 sm:gap-4 2xl:gap-6">
                <div class="w-full mb-4 inline-block">
                    <img class="w-full aspect-auto rounded-xl" src="./profile.jpeg"/>
                    <h2>CHOI YOONSUNG</h2>
                    <ul>
                        <li>🎂 1990.01.24</li>
                        <li>🧰 독립 컨설턴트</li>
                        <li><b>&nbsp;𝕏&nbsp;</b> <a href="https://twitter.com/yoonsung_eth" target="_blank">yoonsung_eth</a></li>
                        <li><b>📸</b> <a href="https://www.instagram.com/najoongae/" target="_blank">najoongae</a></li>
                    </ul>
                </div>

                <div class="w-full mb-4 inline-block">
                    <h2>소셜 토큰 구매</h2>
                    <iframe id="swap" class="h-144 w-full rounded-xl" loading="lazy"></iframe>
                </div>

                <div class="w-full mb-4 inline-block">
                    <h2>🪐 저와 맛있는 커피를 마실 수 있는 With ☕️ 토큰을 소개합니다.</h2>
                    <p>이더리움 커뮤니티 등지에서는 소셜 토큰을 발행하는 사람들이 생겼습니다. 그중에서는 디자인 작업물을 판매하는 토큰도 있고, 팔로워가 많은 사용자는 모두가 볼 수 있게 Retweet을 해주는 토큰도 있습니다. 법률 서비스를 제공하는 토큰도 있는데, 공통적으로 개인이 가지고 있는 영향력과 입지를 판매한다는 점입니다.</p>
                    <p>제가 지난 새월 동안 찾은 것이라곤, 많은 영화를 본 것과 적은 책을 읽으며 커피를 마시는 취미가 있다는 것. 그리고 대화하는 것에 재미를 느낀다는 점입니다. 이러한 재미를 유지하기 위해 잘 설계된 프로그램인지 모르겠지만, 이를 통해 많은 분들을 만나 보았으면 합니다. <b>감사합니다.</b> 😁</p>
                </div>

                <div class="w-full mb-4 inline-block">
                    <h2>🪙 토큰 정보</h2>
                    <a href="https://etherscan.io/address/0x4c6f4d435a939fb85dd946bae4eec9d52587f451" class="max-w-full inline-block overflow-hidden" target="_blank">0x4C6F4d435A939FB85Dd946baE4eeC9D52587F451</a>
                    <ul class="">
                        <li>토큰 유형: ERC20</li>
                        <li>이름 및 심볼: with☕️</li>
                        <li>총 수량: 143개</li>
                        <li><a href="https://etherscan.io/token/tokenholderchart/0x4c6f4d435a939fb85dd946bae4eec9d52587f451">소유자 현황</a></li>
                    </ul>
                </div>

                <div class="w-full mb-4 inline-block">
                    <h2>토큰은 이렇게 쓸 수 있어요!</h2>
                    <ul class="list-disc list-inside">
                        <li>🎐 1개의 토큰을 지불하는 것으로, 저와 1:1 커피를 마시며 간단한 대화를 할 수 있습니다.</li>
                        <li>🤑 커피챗에 사용되는 비용은 전부 제가 부담합니다.</li>
                        <li>⛑ 공개된 장소의 1:1 대화에서만 사용될 수 있습니다.</li>
                        <li>🎫 커피챗 이후에 리뷰를 남겨주시면 0.3 토큰을 되돌려 드립니다.</li>
                        <li>😂 커피를 대신 구매해드리는 용도로는 사용할 수 없습니다.</li>
                        <li>🥤 커피를 드시지 못한다면, 차 또는 카페인이 없는 음료도 가능합니다.</li>
                        <li>🙈 약속을 기준으로 토큰이 차감되므로, 약속이 파기된 경우 토큰을 돌려드릴 수 없습니다.</li>
                        <li>🤫 모든 대화 내용은 단순 소비를 위해 Social Media에 개제되어선 안됩니다.</li>
                    </ul>
                </div>

                <div class="w-full mb-4 inline-block">
                    <h2>🧑‍🔬 토큰 사용 방법</h2>
                    <ul class="list-decimal list-inside">
                        <li>토큰을 구매하세요. 🦄Uniswap을 통해 다양한 암호화폐로 구매할 수 있습니다.</li>
                        <li>토큰을 사용하고자 한다면, 저의 Social Media들을 통해서 연락하셔야 합니다.</li>
                        <li>약속과 장소를 잡고 토큰을 사용하는 방법을 알려드릴 거에요!</li>
                        <li>토큰을 사용하시면 약속이 확정되고, 커피와 함께 가벼운 대화를 합니다. 🥂</li>
                        <li>이 프로그램을 이용하시고 Social Media에 공개 리뷰를 남겨주시면 0.3 토큰을 되돌려드립니다.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script>
        const themeToggleDarkIcon = document.getElementById('theme-toggle-dark-icon');
        const themeToggleLightIcon = document.getElementById('theme-toggle-light-icon');

        // Change the icons inside the button based on previous settings
        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            themeToggleLightIcon.classList.remove('hidden');
        } else {
            themeToggleDarkIcon.classList.remove('hidden');
        }

        const themeToggleBtn = document.getElementById('theme-toggle');

        themeToggleBtn.addEventListener('click', function() {
            // toggle icons inside button
            themeToggleDarkIcon.classList.toggle('hidden');
            themeToggleLightIcon.classList.toggle('hidden');

            // if set via local storage previously
            if (localStorage.getItem('color-theme')) {
                if (localStorage.getItem('color-theme') === 'light') {
                    document.documentElement.classList.add('dark');
                    localStorage.setItem('color-theme', 'dark');
                } else {
                    document.documentElement.classList.remove('dark');
                    localStorage.setItem('color-theme', 'light');
                }

            // if NOT set via local storage previously
            } else {
                if (document.documentElement.classList.contains('dark')) {
                    document.documentElement.classList.remove('dark');
                    localStorage.setItem('color-theme', 'light');
                } else {
                    document.documentElement.classList.add('dark');
                    localStorage.setItem('color-theme', 'dark');
                }
            }
        });

        window.onload = function() {
            var iframe = document.getElementById('swap');
            iframe.src = "https://app.uniswap.org/#/swap?exactField=output&exactAmount=1&inputCurrency=ETH&outputCurrency=0x4c6f4d435a939fb85dd946bae4eec9d52587f451";; // 원하는 주소로 변경하세요
        };
    </script>
</body>
</html>