<li>
    <a href="./<!-- LINK -->">
    <div class="px-6 pb-6 mx-2 my-12 border-l-2 border-l-slate-900 dark:border-l-slate-100">
        <div class="md:grid md:grid-cols-3 py-4 sm:flex sm:flex-col">
            <h1 class="text-3xl col-span-2"><!-- TITLE --></h1>
            <div class="col-span-1 md:pt-8 leading-2 text-end"><!-- DATE --></div>
        </div>
        <p class="text-lg"><!-- DESC --></p>
        <ul class="flex space-x-2">
            <!-- TAGS -->
        </ul>
    </div>
    </a>
</li>