<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><!-- TITLE --></title>
</head>
<body>
    <div class="px-6 md:container md:mx-auto md:px-4">
        <a href="/blog" class="font-medium px-3 py-1 text-slate-700">< 목록으로</a>
        <div class="grid grid-cols-12">
            <h1 class="col-span-11"><!-- TITLE --></h1>
            <div class="pt-8 leading-2 text-end"><!-- PUBLISH_DATE --></div>
        </div>
        <nav class="width-w-full flex justify-end space-x-2">
            <!-- TRANSLATE -->
        </nav>
        <!-- CONTENTS -->
    </div>

    <script src="https://cdn.tailwindcss.com"></script>
    <style type="text/tailwindcss">
        @tailwind base;
        @tailwind components;
        @tailwind utilities;

        @layer base {
            ul {

            }
            h1 {
                @apply text-3xl;
                @apply pt-6;
                @apply pb-2;
            }

            h2 {
                @apply text-2xl;
            }

            p {
                @apply leading-loose;
                @apply py-2;
            }
        }
    </style>
</body>
</html>