<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
</head>
<body>
    <div class="container md:mx-auto px-4">
        <ul>
            <!-- ARTICLES -->
        </ul>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
    <style type="text/tailwindcss">
        @tailwind base;
        @tailwind components;
        @tailwind utilities;

        @layer base {
            ul {

            }
            h1 {
                @apply text-3xl;
                @apply pt-6;
                @apply pb-2;
            }

            h2 {
                @apply text-2xl;
            }

            p {
                @apply leading-loose;
                @apply py-6;
            }
        }
    </style>
</body>
</html>