<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <link rel="stylesheet" href="/build.css">
</head>
<body>
    <nav class="grid grid-cols-6 px-4 py-3 shadow-lg">
        <span class="col-span-3 font-medium px-3 py-1 text-slate-700">yoonsung.eth</span>
        <!-- <span class="col-span-3 text-end">
            <a href="/blog" class="px-3 py-2">Blog</a>
            <a href="/photo" class="px-3 py-2">Photo</a>
        </span> -->
    </nav>

    <div class="px-6 py-4 sm:max-w-4xl sm:container sm:mx-auto sm:px-4">
        <ul>
            <!-- ARTICLES -->
        </ul>
    </div>
</body>
</html>